<h2>stato: {{appstate.state()}}</h2>
@let st = appstate.message();
@if(st){
  <p>Message: {{appstate.message()}}</p>
}
<div class="flex justify-center">
  <p-button (click)="appstate.setToReady()" label="READY" severity="success"/>
  <p-button (click)="appstate.setToLoading()" label="CARICAMENTO" severity="help" loading="appstate.state()==='loading'"/>
  <p-button (click)="appstate.setToLoading('Sto caricando cazzo')" label="CARICAMENTO MESSAGGIO" severity="help"/>
  <p-button (click)="appstate.setToError('orco can son morto')" label="ERRORE" severity="danger" rounded="true"/>
  <p-button (click)="lanciaErrore()" label="ERRORE" severity="danger"/>
  <p-button (click)="lanciaErroreLogico()" label="ERRORE" severity="danger"/>
</div>
<router-outlet/>
